#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp GRAVE       &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6    &kp N7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0       &kp RIGHT_BRACKET
&kp TAB         &kp Q         &kp W         &kp E         &kp R         &kp T         &kp Y           &kp U   &kp I         &kp O         &kp P              &kp LEFT_BRACKET
&kp LEFT_SHIFT  &kp A         &kp S         &kp D         &kp F         &kp G         &kp H           &kp J   &kp K         &kp L         &kp SEMICOLON      &kp SINGLE_QUOTE
&kp LCTRL       &kp Z         &kp X         &kp C         &kp V         &kp B         &kp N           &kp M   &kp COMMA     &kp DOT       &kp RIGHT_BRACKET  &kp SLASH
                                                          &kp W         &kp X
                                                                        &kp SPACE     &studio_unlock  &kp A   &kp SPACE
                                                                                      &kp C           &kp D
            >;
        };
    };
};
